body {
	font-family: Georgia, serif;
	line-height: 1.4;
	color: #888;
}

em, h1 {
	color: black;
}

blockquote p {
	border-left: 5px solir #EEE;
	padding: 0 0 0 0.7em;
	margin: ;
}

blockquote p {
	font-style: italic;
}

blockquote p em {
	font-style: normal;
}

